<h1>Editing friend</h1>
<br/>
<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "Delete", delete_friend_path(@friend), method: :delete, class:"btn btn-warning", data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } %> |
  <%= link_to "Back to friends", friends_path, class:"btn btn-dark"  %>
</div>
